.box{
    width: 560px;
    height: 274px;
    margin: 10px auto;
    border: 1px solid;
    padding: 0 0 10px 10px;
}
.box h2{
    text-align: center;
    line-height: 50px;
}
.box ul li{
    width: 100px;
    height: 100px;
    border: 1px solid;
    position: relative;
    background: #f0f0f0;
    float: left;
    margin: 10px 10px 0 0;
    /*padding: 10px;*/
}
.box ul li a{
     color: #808080;
    text-align: center;
 }
.box ul li img{
    width: 140px;
    height: 140px;
    border: 2px solid #808080;
    position: absolute;
    top: -20px;
    left: -20px;
    cursor: pointer;
    display: none;
    z-index: 2;
}
.box ul li strong{
    display: block;
    text-align: center;
    margin: 10px 0;
}