body{
    background: #a3c5a8;
}
.box{
    width: 500px;
    margin: 0 auto;
}
.background_list{
    margin: 10px 0;
}
.background_list li{
    width: 6px;
    height: 6px;
    margin-right: 10px;
    cursor: pointer;
}
.red{
    border: 4px solid red;
    background: red;
}
.black{
    border: 4px solid black;
    background: black;
}
.green{
    border: 4px solid green;
    background: green;
}
.back_red{
    border-color: red;
    background: white;
}
.back_black{
    border-color: black;
    background: white;
}
.back_green{
    border-color: green;
    background: white;
}
li{
    float: left;
}
.menu li{
    width: 81px;
    height: 25px;
    background: #008000;
    border: 1px solid white;
    text-align: center;
    line-height: 25px;
    font-size: 10px;
}
a:hover{
    border-bottom: 1px solid white;
}