.box{
    width: 250px;
    background: black;
    color: white;
    margin: 10px auto;
    text-align: center;
}
.box span{
    width: 40px;
    background: white;
    color: #000;
    border: 1px solid #b4b4b4;
    display: inline-block;
    text-align: center;
    margin: 10px 5px;
}
.box input{
    width: 200px;
    height: 40px;
    background: #0eb81d;
    font-size: 18px;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
}